/**
浏览器不识别less文件，
*/
.outer {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  border: 1px solid lightblue;
}
.outer .inner {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: lightgreen;
  font-size: 18px;
  -webkit-transition: all 1s linear 0s;
  -moz-transition: all 1s linear 0s;
  -ms-transition: all 1s linear 0s;
  -o-transition: all 1s linear 0s;
  transition: all 1s linear 0s;
}
.outer:hover .inner {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
