/*.函数名： 样式类

   1.函数的调用：当想实现和样式类一样的代码时，直接在当前样式中.样式类，就可以了；相当于把样式类的代码copy一份到这个新的样式中；

   2. 如果给样式类加上小括号，那么当前就是一个公共函数，那么就不再进行编译；

   3. 函数中支持arguments，支持对形参直接赋值
*/
.inner {
  width: 100px;
  height: 100px;
  margin: 30px;
  background: red;
}
.center {
  width: 100px;
  height: 100px;
}
